Delta model

High Level (A)	1.050000E-1	digital
Low Level (A)	0.000000E+0	digital
Delay (s)	5.000000E+0	digital
Num Cycles Mode	1	digital
Finite Count	8	digital
Abort On Compliance?	TRUE	boolean
Cold Swithing Mode Enabled?	TRUE	boolean
Auto Range?	TRUE	boolean
Man / Selected Range	4	digital
Enable Digital Filter?	TRUE	boolean
Filter Type	1	digital
Filter Count	5	digital
Filter Window (%)	5.000000E+0	digital
Enable Analog Filter?	TRUE	boolean
NPLCs	10	digital
6221 Resource	COM1	str
