Delta model

Auto Range?	FALSE	boolean
Man / Selected Range	0	digital
Enable Digital Filter?	FALSE	boolean
Filter Type	0	digital
Filter Count	10	digital
Enable Analog Filter?	FALSE	boolean
Filter Window (%)	1.000000E-2	digital
NPLCs	5	digital
High Level (A)	1.000000E-3	digital
Low Level (A)	-1.000000E-3	digital
Delay (s)	2.000000E-3	digital
Num Cycles Mode	0	digital
Finite Count	10	digital
Abort On Compliance?	FALSE	boolean
Cold Swithing Mode Enabled?	FALSE	boolean
6221 Resource	GPIB0::24::INSTR	str
