Delta model

Auto Range?	FALSE
Man / Selected Range	0
Enable Digital Filter?	FALSE
Filter Type	0
Filter Count	10
Enable Analog Filter?	FALSE
Filter Window (%)	1.000000E-2
NPLCs	5
High Level (A)	1.000000E-3
Low Level (A)	-1.000000E-3
Delay (s)	2.000000E-3
Num Cycles Mode	0
Finite Count	10
Abort On Compliance?	FALSE
Cold Swithing Mode Enabled?	FALSE
6221 Resource	GPIB0::24::INSTR
